# Игнорировать папки зависимостей
node_modules/
vendor/
DataBase/
# Игнорировать файлы скомпилированного кода
*.o
*.exe
*.pyc

# Игнорировать файлы настроек среды и секреты
.env
.DS_Store

# Игнорировать системные папки
.idea/
.vscode/
